/* user-block */
.user-block{
    display: flex;
    justify-content: space-between;
}
.user-block>div:first-of-type{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.user-block>div:first-of-type>section{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 1em;
}
.user-block>div:first-of-type>section h2{
    margin-top: 6px;
}