body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
form input[type=file]{
    display: none;
}
.frame{
    transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding-top: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    margin-left: 0px;
}
.frame.open{
    margin-left: 240px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10vh;
    margin: 2em 0;
    width: 1300px;
}


/* .fade-enter {
    opacity: 0;
    z-index: 1;
}  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
} */

.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
}
.fade-leave {
    opacity: 1;
}
.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 50ms ease-in;
}


@media (max-width: 1600px){
    .frame.open{
        margin-left: 0px;
    }
}
@media (max-width: 1400px){
    .container{
        max-width: 1100px;
        width: auto;
    }
}

.element {
    -webkit-animation: element-act 5s;
    -moz-animation:    element-act 5s;
    -o-animation:      element-act 5s;
    animation:         element-act 5s;
  }
  
  @-webkit-keyframes element-act {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes element-act {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes element-act {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes element-act {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }